<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medication Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
<form method="post">
    {% csrf_token %}
    <h1>Medication Form</h1>
    
    <label for="name">Name:</label>
    {{ form.name }}

    <label for="dosage">Dosage:</label>
    {{ form.dosage }}
    
    <label for="provider">Provider:</label>
    {{ form.provider }}
    
    <label for="quantity">Quantity:</label>
    {{ form.quantity }}
    
    <label for="expirydate">Expiry Date:</label>
    {{ form.expirydate }}

    <label for="price">Price:</label>
    {{ form.price }}
    
    <label for="category">Category:</label>
    {{ form.category }}
    
    <label for="description">Description:</label>
    {{ form.description }}

    <label for="sideeffects">Side Effects:</label>
    {{ form.sideeffects }}
    
    <label for="chemicalcomposition">Chemical Composition:</label>
    {{ form.chemicalcomposition }}

    <label for="substitute">Substitute:</label>
    {{ form.substitute }}
    
    <input type="submit" value="Submit">
</form>
</body>
</html>
