<!DOCTYPE html>
<html>
<head>
    <title>Customer Details</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body id="form">
<div class="form-container">
    <div class="list-form">
        <h1>Customer Details</h1>
        <a href="{% url 'PharmalyticsApp:update_customer' customer.pk %}" class="edit-button">Edit</a>
        <a href="{% url 'PharmalyticsApp:delete_customer' customer.pk %}" class="delete-button">Delete</a>
        <div class="form-group">
            <label>Name:</label>
            <p>{{ customer.name }}</p>
        </div>
        <div class="form-group">
            <label>Date of Birth:</label>
            <p>{{ customer.dateofbirth }}</p>
        </div>
        <div class="form-group">
            <label>Gender:</label>
            <p>{{ customer.gender }}</p>
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <p>{{ customer.phonenumber }}</p>
        </div>
        <div class="form-group">
            <label>Insurance Company:</label>
            <p>{{ customer.insurancecompany }}</p>
        </div>
        <div class="form-group">
            <label>Permanent Medication:</label>
            <p>{{ customer.permanentmedication }}</p>
        </div>
        <a href="{% url 'PharmalyticsApp:customer_list' %}" class="submit-button">Back</a>
        <a href="{% url 'PharmalyticsApp:home' %}" class="submit-button">Home</a>
    </div>
</div>
</body>
</html>
