<!DOCTYPE html>
<html>
<head>
    <title>Delete Sale Record</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body id="form">
<div class="form-container">
    <div class="list-form">
    <h1>Delete Sale Record</h1>
    <p>Are you sure you want to delete "{{ sale.id }} - {{ sale.customer.name }}, {{ sale.medication.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, delete it">
    </form>
    <a href="{% url 'PharmalyticsApp:sale_list' %}" class="edit-button">Cancel</a>
    </div>
</div>
</body>
</html>
