<!DOCTYPE html>
<html>
<head>
    <title>Delete Customer</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body class="container">
    <h1>Delete Customer</h1>
    <p>Are you sure you want to delete "{{ customer.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, delete it">
    </form>
    <a href="{% url 'PharmalyticsApp:customer_list' %}" class="submit-button">Cancel</a>
</body>
</html>
