<!DOCTYPE html>
<html>
<head>
    <title>Pharmalytics Database</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body class="container">
    <h2>Medication Database</h2>
    <a href="{% url 'PharmalyticsApp:create_medication' %}" class="home-button">Add New Medication</a>
    <a href="{% url 'PharmalyticsApp:medication_list' %}" class="home-button">View Current Medications</a>
    <a href="{% url 'PharmalyticsApp:scan_barcode' %}" class="home-button">Scan a Barcode</a>
    <h2>Customers Database</h2>
    <a href="{% url 'PharmalyticsApp:create_customer' %}" class="home-button">Add New Customer</a>
    <a href="{% url 'PharmalyticsApp:customer_list' %}" class="home-button">View Current Customers</a>
    <h2>Order Medication Form</h2>
    <a href="{% url 'PharmalyticsApp:submit_order' %}" class="home-button">Order Medication</a>
    <a href="{% url 'PharmalyticsApp:order_list' %}" class="home-button">Order History</a>
    <h2>Sales Transactions</h2>
    <a href="{% url 'PharmalyticsApp:create_sale' %}" class="home-button">Create Sales Transaction</a>
	<a href="{% url 'PharmalyticsApp:sale_list' %}" class="home-button">Sales History</a>
    <h2>Charts</h2>
    <a href="{% url 'PharmalyticsApp:med_quantity_chart' %}" class="home-button">Medication vs. Quantity</a>
	<a href="{% url 'PharmalyticsApp:price_time_chart' %}" class="home-button">Revenues Over Time</a>
	<a href="{% url 'PharmalyticsApp:customer_medication_chart' %}" class="home-button">Customers per Medication</a>
</body>
</html>
