<!DOCTYPE html>
<html>
<head>
    <title>Medication Quantity Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body id="chartt">
    <div class="chart-form-container">

    <!-- Form for filtering options -->
    <form class="chart-form" method="get" action="{% url 'PharmalyticsApp:medication_quantity_chart' %}">
        <label class="chart-form-group" for="provider">Provider:</label>
        <input type="text" name="provider" id="provider">

        <label class="chart-form-group" for="category">Category:</label>
        <select name="category" id="category">
            <option value="">All</option>
            <option value="Blood Pressure">Blood Pressure</option>
            <option value="Diabetes">Diabetes</option>
            <option value="Gastro">Gastro</option>
            <option value="Pregnancy">Pregnancy</option>
            <option value="Infants">Infants</option>
            <option value="Pain Killer">Pain Killer</option>
            <option value="Other">Other</option>
        </select>

        <label class="chart-form-group" for="min_price">Min Price:</label>
        <input type="number" name="min_price" id="min_price">

        <label class="chart-form-group" for="max_price">Max Price:</label>
        <input type="number" name="max_price" id="max_price">
<label class="chart-form-group"></label>
        <button class="submit-button" type="submit">Apply Filter</button>
    </form>

    <!-- Chart container -->
    <div id="chart"></div>
    <!-- JavaScript code for rendering the chart -->
    <script>
        var medication_data = {{ medication_data|safe }};
        var names = [];
        var data = [];

        // Extract names and data from medication_data
        medication_data.forEach(item => {
            names.push(item.name);
            data.push(item.data);
        });

        // Chart options
        var options = {
            chart: {
                type: 'bar'
            },
            series: [{
                name: 'Quantity',
                data: data
            }],
            xaxis: {
                categories: names
            },
            yaxis: {
                title: {
                    text: 'Quantity'
                }
            },
            title: {
                text: 'Medication Quantity Chart'
            }
        };

        // Render the chart
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
    <a href="{% url 'PharmalyticsApp:home' %}" class="submit-button">Home</a>
        </div>
</body>
</html>