<!DOCTYPE html>
<html>
<head>
    <title>Medication List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body class="container">
    <h1>Medication List</h1>
    <!-- Search and Filter Form -->
    <form method="get" action="{% url 'PharmalyticsApp:medication_list' %}" class="form-inline mb-3">
        <div class="form-group mr-2">
            <label for="id_search">Search:</label>
            <input type="text" name="search" id="id_search" class="form-control" value="{{ request.GET.search }}">
        </div>
        <label for="chemicalcomposition">Chemical Composition:</label>
        <select name="chemicalcomposition" id="chemicalcomposition">
            <option value="" selected>--- All ---</option>
            {% for composition in chemical_compositions %}
                <option value="{{ composition }}">{{ composition }}</option>
            {% endfor %}
        </select>
        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="" selected>--- All ---</option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    <!-- Medication List -->
    <ul>
        {% for medication in medications %}
            <li>
                <div style="width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 10px 0; border-bottom: 1px solid #ccc;">
                    <span style="flex: 1;">
                        <a href="{% url 'PharmalyticsApp:medication_detail' medication.pk %}" class="view-link">{{ medication.name }}</a>
                    </span>
                    <span style="white-space: nowrap;">
                        <a href="{% url 'PharmalyticsApp:update_medication' medication.pk %}" style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none; font-weight: bold; margin-right: 10px;">Edit</a>
                        <a href="{% url 'PharmalyticsApp:delete_medication' medication.pk %}" style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none; font-weight: bold;">Delete</a>
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'PharmalyticsApp:home' %}" class="submit-button">Home</a>
</body>
</html>
