<!DOCTYPE html>
<html>
<head>
    <title>Order History</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body id="form">
<div class="form-container">
    <!-- Search Form -->
    <form method="get" action="{% url 'PharmalyticsApp:order_list' %}" class="input-form">
        <h1>Order History</h1>
        <div class="form-group">
            <label for="id_search">Search:</label>
            <input type="text" name="search" id="id_search" class="form-control" value="{{ request.GET.search }}">
        </div>


    <!-- Order History -->
    <ul>
        {% for order in orders %}
            <li>
                <div class="list-item">
                    <span class="item-name">
                        <a href="{% url 'PharmalyticsApp:order_detail' order.pk %}" class="view-link">{{ order.provider }}, {{ order.medname }}</a>
                    </span>
                    <span class="item-actions">
                        <a href="{% url 'PharmalyticsApp:delete_order' order.pk %}" class="delete-button">Delete</a>
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'PharmalyticsApp:home' %}" class="submit-button">Home</a>
</form>
</div>
</body>
</html>
