<!DOCTYPE html>
<html>
<head>
    <title>Sales Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body id="chartt">
    <div class="chart-form-container">
    <div id="chart"></div>
    <script>
        var sales_data = {{ sales_data|safe }};
        var processedData = {};
        sales_data.forEach(item => {
            if (processedData.hasOwnProperty(item.data)) {
                processedData[item.data] += item.name;
            } else {
                processedData[item.data] = item.name;
            }
        });
        var months = Object.keys(processedData);
        var prices = months.map(data => processedData[data]);
        
        var options = {
            chart: {
                type: 'line'
            },
            series: [{
                name: 'Revenue',
                data: prices 
            }],
            xaxis: {
                categories: months 
            },
            yaxis: {
                title: {
                    text: 'Revenue'
                }
            },
            title: {
                text: 'Sales Chart'
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
    <a href="{% url 'PharmalyticsApp:home' %}" class="submit-button">Home</a>
    </div>
</body>
</html>
