<!DOCTYPE html>
<html>
<head>
    <title>Sales History</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body id="form">
<div class="form-container">
    <!-- Search Form -->
    <form method="get" action="{% url 'PharmalyticsApp:sale_list' %}" class="input-form">
        <h1>Sales History</h1>
        <div class="form-group">
            <label for="id_search">Search:</label>
            <input type="text" name="search" id="id_search" class="form-control" value="{{ request.GET.search }}">
        </div>

    <!-- Sales History -->
    <ul>
        {% for sale in sales %}
            <li>
                <div class="list-item">
                    <span class="item-name">
                        <a href="{% url 'PharmalyticsApp:sale_detail' sale.pk %}" class="view-link">{{ sale.customer.name }}, {{ sale.customer.id }}, {{ sale.medication.name }}</a>
                    </span>
                    <span class="item-actions">
                        <a href="{% url 'PharmalyticsApp:delete_sale' sale.pk %}" class="delete-button">Delete</a>
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'PharmalyticsApp:home' %}" class="submit-button">Home</a>
</form>
</div>
</body>
</html>